<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>1SK | Login</title>
    <link rel="stylesheet" href="agents_webapp/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
        <div class="row my-3">
         <div class="col-sm-6 offset-sm-3">
             <div class="center">
       
                 <h3 class="center">Please Login to start session</h3>
             </div>
          <hr>
          <form action="" method="post" novalidate class="shadow p-5">
           {% csrf_token %}
           {% for fm in form %} <!--this form coming from LoginView because haven't created such form-->
           <div class="form-group">
               {{fm.label_tag}} {{fm}}
               <small class="text-danger">
                   {{fm.errors|striptags}}
               </small>
               <br>
           </div>
           {% endfor %}
           <br>
           {% if form.non_field_errors %}
               {% for error in form.non_field_errors %}
                   <p class="alert alert-danger my-3">{{error}}</p>
               {% endfor %}
           {% endif %}
           <input type="submit" value="login" class="btn btn-primary mt-4">
          </form>
         </div>
        </div>
       </div>
	<script src="agents_webapp/js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>




